/* Estilos para a última página do site */

/* Estilos para o cabeçalho */
header {
    text-align: center;
    margin-top: 50px; /* Espaçamento superior */
}

header h1 {
    font-size: 36px;
    color: #fff; /* Cor do texto */
}

/* Estilos para o formulário de busca */
form {
    margin: 0 auto; /* Centralizar o formulário */
    width: 300px; /* Largura do formulário */
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo com transparência */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
}

label {
    display: block; /* Coloca cada label em uma linha */
    margin-bottom: 10px; /* Espaçamento inferior */
    color: #000; /* Cor do texto */
}

input[type="email"] {
    width: 100%; /* Largura total do input */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento inferior */
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #ccc; /* Cor da borda */
}

input[type="submit"] {
    width: 100%; /* Largura total do botão */
    padding: 10px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

/* Estilos para a seção de exibição dos dados de notícias */
#dados_html {
    margin-top: 50px; /* Espaçamento superior */
    text-align: center; /* Alinhamento do texto */
}

#dados_html h2 {
    font-size: 24px;
    color: #fff; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento inferior */
}