header img {
    width: 250px;
    height: 250px;
    border: 5px solid #e29911;
    display: flex;
    justify-content: center; }

    body{
        background-color: #152402;
        color:rgb(5, 59, 9);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
    
    header p{
        font-size: 40px;
        color:#355f06}
    

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        padding: 12px; }

    nav a {
        font-size: 20px;
    }
    
    nav a:hover {
        color: #1b2e05;
    }

    a {
        color: rgb(180, 45, 21);
        text-decoration: none;}


        p {
            line-height: 1; 
        }


        .conteudo {
            display: flex;
            align-items: center; 
        }
        

        
        .texto {
            flex: 1; /* Faz com que o texto ocupe o espaço disponível */
            margin-left: 20px; /* Adiciona uma margem à esquerda para separar a foto do texto */
        }


        body {
            background-image: url('fundo3.jpg');
            background-size: cover; 
            background-position: center; 
            
        }