<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caê Vatiero</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/home.css')}}">

</head>
<body>
<nav>
    <ul> 
        <li><a href="/sobremim">Sobre Mim</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/dinamica">Dinamica</a></li>
        
    </ul>
</nav>

<header>
    <h1>
    <p>CAÊ VATIERO</h1></p>



    <h2>Jornalista investigativo</h2>
