<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Busca</title>
    <link rel="stylesheet"
    href="{{url_for('static',filename='css/input.css')}}">
</head>
<body>
    <h1>Formulário de Busca</h1>
    <form action="/processar_busca" method="post">
        <label for="busca">Palavra-chave:</label><br>
        <input type="text" id="busca" name="busca" required><br><br>
        
        <label for="email">Seu e-mail:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <input type="submit" value="Enviar">
    </form>
</body>
</html>